[project]
	description = cash
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/zhangaihua
[access "refs/for/refs/*"]
	read = group user/zhangaihua
	push = group user/zhangaihua
	label-Code-Review = -2..+2 group user/zhangaihua
	label-Verified = -1..+1 group user/zhangaihua
	rebase = group user/zhangaihua
	removeReviewer = group user/zhangaihua
	submit = group user/zhangaihua
[access "refs/heads/*"]
	read = group user/zhangaihua
	create = group user/zhangaihua
	push = +force group user/zhangaihua
	pushMerge = group user/zhangaihua
[access "refs/tags/*"]
	push = +force group user/zhangaihua
	pushTag = group user/zhangaihua
	pushSignedTag = group user/zhangaihua
